
.redtext {
    color: #bd0000;
    font-size: 80px;
    font-weight: normal;
    font-family: 'Liu Jian Mao Cao', cursive;
    text-align: left;
    text-shadow: -1px -1px 0 hsl(80, 70%, 35%),
    -2px -2px 1px hsl(82, 66%, 28%);
}


.redtext:first-letter {

    font-size: 110px;
    color: #79050d
}

.greentextone {
    color: green;
    letter-spacing: 40px;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
    margin-left: 30px;
    text-shadow: -1px -1px 0 hsl(80, 70%, 35%),
    -2px -2px 1px hsl(80, 70%, 35%);
}

.greentextone:first-letter {
    font-size: 35px;
    color: #ffca22;
}

.greentext {
    color: green;
    letter-spacing: 25px;
    font-size: 18px;
    font-family: 'Indie Flower', cursive;
}

.browntext {
    color: brown;
    letter-spacing: 25px;
    font-size: 18px;
    font-family: 'Indie Flower', cursive;
}

.darkredtext {
    color: darkred;
    letter-spacing: 25px;
    font-size: 18px;
    font-family: 'Indie Flower', cursive;
}


.bluetext {
    color: blue;
    text-decoration: underline;
    font-family: 'Varela Round', sans-serif;
}

ul {
    margin-top: 20px;
}

.darkgreen {
    color: darkgreen;
    list-style-type: square;
}

.violettext {
    color: darkviolet;
    letter-spacing: 25px;
    font-size: 18px;
    font-family: 'Indie Flower', cursive;
}

.yellow {
    color: #ffd841;
    list-style-type: disc;
}

img {
    color: yellow;
    width: 100px;
    height: 100px;
    margin-left: 60px;
}